// font family
$primary-font:'inter', sans-serif;
$secondery-font:'Space Grotesk', sans-serif;;

/*****primary color******/
$primary-color:#383D49;
$light-black:#282938;
$secondery-color:#FCA61F;


/****other color*****/
$white:#fff;
$bg-color:#F5FCFF;
// $text-color:#1c1e53c4;
$text-color:#9FA2A7;


// Breakpoints
$xs-min: 480px;
$xs-max: 576px;
$sm-max: 767px;
$md-max:991px;
